@media (max-width: 575px) {
  
}
@media (min-width: 576px) and (max-width: 767px) {
  
}
@media (min-width: 768px) and (max-width: 991px) {
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  
}
@media (min-width: 1200px) {
  
}
body {
  font-family: 'Dosis', sans-serif;
}
.clear {
  clear: both;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
.header {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .header {
    height: 230px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: auto;
  }
}
.header .text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 575px) {
  .header .text {
    padding-top: 0px;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .header .text .hidden {
    display: none;
  }
}
@media (max-width: 575px) {
  .header .text img {
    width: 160px;
    margin-top: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header .text img {
    width: 260px;
  }
}
.header .text h2 {
  font-size: 40px;
  line-height: 50px;
  padding: 20px 30px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  width: 100%;
}
@media (max-width: 575px) {
  .header .text h2 {
    font-size: 16px;
    margin-top: 30px;
    padding: 5px;
    line-height: 26px;
    background-color: #188dba;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header .text h2 {
    font-size: 24px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .text h2 {
    font-size: 30px;
  }
}
.content {
  width: 100%;
  background: url('../images/bgContent.png') no-repeat center top;
  padding: 100px 0px;
  margin-top: -85px;
}
@media (min-width: 1120px) and (max-width: 1220px) {
  .content {
    margin-top: -135px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .content {
    margin-top: -195px;
  }
}
@media (max-width: 575px) {
  .content {
    margin-top: 0px;
    background: none;
    padding: 30px 0px 0px 0px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content {
    margin-top: 0px;
    background: none;
    padding: 50px 0px 30px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content {
    margin-top: 0px;
    background: none;
    padding: 60px 0px 30px 0px;
  }
}
.content h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: right;
  color: #0D324D;
  line-height: 42px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content h2 {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .content h2 {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }
}
.content p {
  font-size: 16px;
  color: #0d0e11;
  margin-top: 5px;
  line-height: 30px;
}
@media (max-width: 575px) {
  .content p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
}
.content .contact {
  width: 100%;
}
@media (max-width: 575px) {
  .content .contact .info {
    margin-bottom: 30px;
  }
}
.content .contact .info .item {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 575px) {
  .content .contact .info .item {
    margin-top: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content .contact .info .item {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content .contact .info .item {
    margin-top: 20px;
  }
}
.content .contact .info .item .icon {
  width: 80px;
  text-align: center;
  float: left;
  font-size: 35px;
}
.content .contact .info .item .icon.primary {
  color: #188dba;
}
.content .contact .info .item .icon.secondary {
  color: #0D324D;
}
.content .contact .info .item p {
  font-size: 16px;
  color: #0d0e11;
  margin-top: 15px;
  float: left;
  line-height: 18px;
}
.content .contact .form {
  padding-left: 50px;
}
@media (max-width: 575px) {
  .content .contact .form {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content .contact .form {
    padding-left: 0px;
    margin-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content .contact .form {
    padding-left: 0px;
    margin-top: 50px;
  }
}
.content .contact .form h3 {
  font-size: 24px;
  font-weight: 700;
}
.content .contact .form p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}
.content .contact .form label {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: #0d0e11;
  text-transform: uppercase;
}
.content .contact .form input,
.content .contact .form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #0d0e11;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 20px;
}
.content .contact .form .btn {
  float: left;
  width: auto;
  background-color: #188dba;
  font-size: 16p;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 45px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
.content .contact .form .btn:hover {
  background-color: #0D324D;
  -webkit-transition: background-color, 0.3s;
  -moz-transition: background-color, 0.3s;
  -o-transition: background-color, 0.3s;
  transition: background-color, 0.3s;
}
.foot {
  width: 100%;
  padding: 0px 0px 0px 15px;
  background-color: #292929;
}
.foot img {
  float: left;
  margin-top: 25px;
}
@media (max-width: 575px) {
  .foot img {
    width: 90px;
    margin-top: 13px;
  }
}
.foot .social {
  float: right;
  text-align: right;
}
.foot .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  float: right;
}
.foot .social a:hover,
.foot .social a:active {
  text-decoration: none;
}
@media (max-width: 575px) {
  .foot .social a {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
}
.legal {
  width: 100%;
  background-color: #1f1f1f;
  padding: 5px 15px 0px 15px;
}
.legal p {
  font-size: 12px;
  color: #fff;
  float: left;
  margin-top: 7px;
}
@media (max-width: 575px) {
  .legal p {
    width: 100%;
    text-align: center;
  }
}
.legal a {
  float: right;
  margin-top: 5px;
}
@media (max-width: 575px) {
  .legal a {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.coming-soon-time {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coming-soon-time::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: .5;
  z-index: -1;
}
